<config>
    <searchQuery>
        Java
    </searchQuery>

    <location>
        usa
    </location>

    <sites>
        <site>indeed</site>


    </sites>

    <frequency>
        <hours>
            0
        </hours>

        <minutes>
            0
        </minutes>

        <seconds>
            10
        </seconds>
    </frequency>

</config>